

            <h2>User info</h2>
            <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
                <table class="table table">
                    <tbody>
                        <tr>
                            <th>Name</th><td><%= user.name %></td>
                        </tr>
                        <tr>
                            <th>Introduction</th><td><%= user.introduction %></td>
                        </tr>
                    </tbody>
                </table>

                    <div class="edit">
                    <%= link_to sanitize('<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>') , edit_user_path(user) , class: "btn btn-default btn-block" %>
                    </div>



